{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Shopping Manager</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/invoices">Invoice List</a>
        <a href="/summary">Summary</a>
        <!-- <a href="#about">About</a> -->
      </div>
    {{ if eq .TemplateName "DisplayInvoiceList" }}
        {{ template "invoicesList" .}}
    {{ else if eq .TemplateName "DisplayInvoiceSummary" }}
        {{ template "invoiceFilter"}}
        {{ template "invoicesSummary" .}}
    {{ else }}
    <h1>Are you lost?</h1>
    {{ end }}
</body>
<footer>
    {{ template "footer" .}}
</footer>

</html>
{{ end }}