package web

import (
	"parser60/schema"
	"parser60/web/templates/default"
)

templ contentPage(title string, body templ.Component) {
	<html>
		@web.HeaderComponent(title)
		@web.ContentComponent(body)
	</html>
}

templ CreateHomePage(pages []schema.Page) {
	<html>
		@web.HeaderComponent("Home")
		<body>
			@web.TopnavComponent(pages)
			<div>
				<h1>This is the home page</h1>
			</div>
		</body>
	</html>
}
