{{ define "invoicesList" }}
<h1>These are your invoices</h1>
<div>
    {{range .Invoices}}
    <div>
        <h2>Order on: {{ToReadableDate .Date }}
    </div>
    <div>XtraSavings: {{ToRand .XtraSavings }}</div>
    <div>Delivery Fee: {{ToRand .DeliveryFee }}</div>

    <h3>Line Items</h3>
    <div>
        {{range .Items}}
        <h4>{{.Name}}</h4>
        <ul>
            <li>{{.Quantity}}</li>
            <li>{{ToRand .Price}}</li>
            <li>{{ToRand .Total}}</li>
            {{if eq .Discount 0}}<li>{{ToRand .Discount}}</li>{{end}}
        </ul>
        {{end}}
    </div>
    {{ end }}
</div>
{{ end }}

{{ define "invoices" }}
{{ template "base" . }}
{{ end }}