{{ define "invoiceFilter"}}
<h1>Invoices Summary</h1>
<div class="filter">
    <h3>Filter</h3>
    <form hx-post="/summary/filter" hx-target="#invoicesSummary" hx-swap-oob="true">
        <div>
            <input type="date" name="startDate" value="2023-01-01">
            <input type="date" name="endDate" value="{{DateToday}}">
        </div>
        <div>
            <input type="text" name="searchText" placeholder="Search">
            <input type="checkbox" name="searchContains" value="Contains" checked="true">
        </div>
        <div>
            <input type="submit" value="Apply">
        </div>
    </form>
</div>
{{ end }}

{{ define "invoicesSummary" }}
<div id="invoicesSummary" class="invoicesSummary">
    <h2>Summary</h2>
    <ul>
        <li>Total Spent: {{ .TotalSpent }}</li>
        <li>Total Saved: {{ .TotalSaved }}</li>
        <li>Total Items Ordered: {{ .TotalItemsOrdered }}</li>
        <li>Total Orders: {{ .TotalOrders }}</li>
    </ul>
</div>
{{end}}

{{ define "summary" }}
{{template "header"}}
{{ template "header" }}
{{ template "topnav"}}
{{ template "invoiceFilter"}}
{{ template "invoicesSummary" .}}
{{ template "footer"}}
{{ end }}