package web

import (
	"parser60/schema"
)

templ TopnavComponent(pages []schema.Page) {
	<div class="topnav">
		for _, page := range pages {
			<a href={ templ.SafeURL(page.Url) }>{ page.Title }</a>
		}
	</div>
}
