package web

templ topnav(){
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/invoices">Invoice List</a>
        <a href="/summary">Summary</a>
        <!-- <a href="#about">About</a> -->
    </div>
}